
Azure Billing Data Analysis:

Assumptions:
Two types of data - static (rarely changing) and dynamic (always changing)
a. Extract side(top 2 has dynamic data) - see diagram.
b. Bottom 2 i.e. Historic Azure billing.. has statics data (CSV)

Task:
1. Use REST API to get data from a remote server (csv)
Append each csv to create just one big CSV file and Load into 
(since API load limit is 100 rows)

2. Create an automated sytem to (E&L)Extract and Load Data (the Data Analyst will Clean and transform- so its an ELT rather than ETL)

3. The system will capture deltas using date diff and Load with Append to existing tables in Database


Options (Normally):
Use SSIS and explore Azure Data Sync & Data Factory


Pythonic Option (Preferred)
(OOP approach)

Programatically interact wt REST API (Ask Sesan) and Extract Data (top 2 on d right)

No Transformation - just extract and Load.